name: release
on:
  release:
    types: [published]

jobs:
  publish:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Use Node.js
      uses: actions/setup-node@v5
      with:
        registry-url: 'https://registry.npmjs.org'

    - name: Install dependencies
      uses: bahmutov/npm-install@v1

    - name: Lint
      run: npm run lint

    - name: Test
      run: npm test

    - run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
