name: test
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version:
          - 16.x
          - 18.x
          - 20.x

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        uses: bahmutov/npm-install@v1

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run cover

      - name: CLI
        run: |
          # gettext -> i18next
          node bin -l en -s ./test/_testfiles/en/translation.utf8.po -t ./test/_tmp/en.json
          node bin -l de -s ./test/_testfiles/de/translation.utf8.po -t ./test/_tmp/de.json
          node bin -l ru -s ./test/_testfiles/ru/translation.utf8.po -t ./test/_tmp/ru.json

          # With filter:
          node bin -l en -s ./test/_testfiles/en/translation.utf8.po -t ./test/_tmp/en.json -f path/to/filter.js

          # i18next -> gettext
          node bin -l de -s ./test/_testfiles/de/translation.utf8.json -t ./test/_tmp/de.po
          # and back
          node bin -l de -s ./test/_tmp/de.po -t ./test/_tmp/de.json

      - name: Publish to coveralls.io
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
